// font family
$font-family-primary: "metabold_roman", arial;

// font size
$font-size-medium: 18px;

$font-size-h4: 18px;
$font-size-h3: 23px;
$font-size-h2: 28px;
$font-size-h1: 32px;

// colors
$color-text-title: #1f1f1f;
$color-grey: #939393;
$color-fill-label: #09c;

$color-white:#e8e9e9; // dont use
$color-grey-dark: #6f7074;
$color-fill-white: $color-white;
$color-fill-check-mark: #ffa500;
$color-white-light: #f8f9f9;

$color: #6f7074;
$background-color:  #ffa500;
$radious-25: 25px;
$font-size-sm-16: 16px;
$border-color: #e8e9e9;
