@import '../theme/foundation/color.scss';
//@import '../theme/foundation/color.js';
.ofs_base {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 16px;
    background: $gray-56;
}

.ofs_alerts{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /*padding: 12px 16px !important;*/

    &.success{
    background: $green-base !important;
    color: $white !important;
    border-radius: 0 !important;
    }
    
    &.error{
    background: $red-base !important;
    color: $white !important;
    border-radius: 0 !important;
    }

    svg{
        color: $white !important;
    }
}